
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Floor.cshtml";
}

<!--
=============================================
    Theme inner Banner
==============================================
-->
<div class="inner-banner">
    <div class="opacity">
        <div class="container">
            <h2>About us</h2>
            <p>Flooring &amp; Tiles has been a presence on the international market since 1962 and is part of <br>the Gruppo Concorde, the largest ceramic group in Europe.</p>
            <div class="clearfix">
                <ul class="float-right">
                    <li><a href="#" class="tran3s">Home</a></li>
                    <li>.</li>
                    <li><a href="#" class="tran3s">Page</a></li>
                    <li>.</li>
                    <li>About</li>
                </ul>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.opacity -->
</div> <!-- /.inner-banner -->
<!--
=============================================
    Request Quote Section
==============================================
-->
<div class="request-quote-section">
    <div class="quote-banner">
        <div class="container">
            <h6 class="float-left">Need Flooring advice? Ask our experts for free. Glad to help you!</h6>
            <a href="#" class="theme-button p-bg-color hvr-float-shadow float-right">Request a Quote</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="text float-left theme-col">
                <h3>We Are Right Hardwood Flooring <br> Experts Since 2001</h3>
                <p>Right Flooring  offers a wide selection of Top Quality Wood Flooring as well as Professional Installation, Repair, Restoration and Refinishing of Hardwood Flooring in Mississauga and the GTA</p> <br>
                <p>Our flooring technicians are real craftsmen, passionate about making your living space simply fabulous. We use only the highest quality tools for Dustless Sanding, Floor and Staircase Refinishing and Repair. We also take special care to ensure a safe, clean and eco-friendly work environment.</p>
                <a href="#" class="theme-button p-bg-color hvr-float-shadow">Learn More</a>
            </div> <!-- /.text -->
            <div class="img-box float-left theme-col">
                <img src="~/Public/images/home/6.jpg" alt="">
            </div> <!-- /.quote-form -->
        </div> <!-- /.row -->
        <p class="m1">
            Right Flooring began in 1912 as Ames Bros. Distributors Ltd. on Alexander Street in downtown Vancouver. Founded by Cyril Ames and his brother David, Ames Bros. started as a small agency business. The partnership between the brothers lasted less than two weeks, but the company has lived on for 100 years and has evolved and emerged as a leader in the tile and stone industry.  <br><br>
            Although the name and products have changed, the principles are the same. Four generations of the Ames family have brought their commitment to excellence and customer service to the communities they serve
        </p>
    </div> <!-- /.container -->
</div> <!-- /.request-quote-section -->
<!--
=============================================
    Team And Inspiration
==============================================
-->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="our-team">
                <h4>Our Expert Team</h4>
                <p>We are Flooring and tiles team based on Brooklyn. We like to make you feel 'more' on your home , Mullican Flooring provides customers with endless possibilities for beau-tifully designed spaces.</p>
                <div id="team-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
                    <!-- Indicators -->
                    <ol class="carousel-indicators clearfix">
                        <li data-target="#team-carousel" data-slide-to="0" class="active"><div><img src="~/Public/images/home/3.jpg" alt="Image"></div></li>
                        <li data-target="#team-carousel" data-slide-to="1"><div><img src="~/Public/images/home/4.jpg" alt="Image"></div></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <h6>Asfia Mahfuz</h6>
                            <span class="p-color">CEO Company</span>
                            <p>We’re here to help support your home and garden projects, offering expert hints and tips on everything from decorating to decking, plumbing to planting</p>
                        </div>
                        <div class="item">
                            <h6>Mahfuz Riad</h6>
                            <span class="p-color">CEO Company</span>
                            <p>We’re here to help support your home and garden projects, offering expert hints and tips on everything from decorating to decking, plumbing to planting</p>
                        </div>
                    </div> <!-- /.carousel-inner -->
                </div> <!-- /#team-carousel -->
            </div> <!-- /.our-team -->
        </div> <!-- /.col- -->
        <div class="col-md-6 col-xs-12">
            <div class="inspiration-tab m-fix m-bottom0">
                <h4>Flooring Inspiration Area</h4>
                <p>Countless Design Possibilities for Your Unique Expression Dedicated to creating the highest-quality hardwood flooring in the world</p>
                <div class="inspiration-panel">
                    <div class="panel-group theme-accordion" id="accordion">
                        <div class="panel">
                            <div class="panel-heading active-panel">
                                <h6 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        Top quality floors. Rock bottom prices
                                    </a>
                                </h6>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>The perfect harmony between innovation and creativity, our bathroom tiles are produced in compliance with the international standards. High quality 20mm thick porcelain tiles that can be laid on pedestals,</p>
                                </div>
                            </div>
                        </div> <!-- /panel 1 -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        Mercier Wood Flooring,serve you better!
                                    </a>
                                </h6>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The perfect harmony between innovation and creativity, our bathroom tiles are produced in compliance with the international standards. High quality 20mm thick porcelain tiles that can be laid on pedestals,</p>
                                </div>
                            </div>
                        </div> <!-- /panel 2 -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        Countless Design Possibilities for Your Expression
                                    </a>
                                </h6>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The perfect harmony between innovation and creativity, our bathroom tiles are produced in compliance with the international standards. High quality 20mm thick porcelain tiles that can be laid on pedestals,</p>
                                </div>
                            </div>
                        </div> <!-- /panel 3 -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h6 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                        Wood Flooring has developed
                                    </a>
                                </h6>
                            </div>
                            <div id="collapse4" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>The perfect harmony between innovation and creativity, our bathroom tiles are produced in compliance with the international standards. High quality 20mm thick porcelain tiles that can be laid on pedestals,</p>
                                </div>
                            </div>
                        </div> <!-- /panel 4 -->
                    </div> <!-- end #accordion -->
                </div> <!-- End of .inspiration-panel -->
            </div> <!-- /.inspiration-tab -->
        </div> <!-- /.col- -->
    </div> <!-- /.row -->
</div> <!-- /.container -->
<!--
=============================================
    Theme Counter
==============================================
-->
<div class="theme-counter m-bottom0 fix">
    <div class="opacity">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-xs-6">
                    <div class="text-center">
                        <h5>Happy Customers</h5>
                        <div class="number"><span class="timer" data-from="0" data-to="210" data-speed="1000" data-refresh-interval="5">0</span></div>
                    </div> <!-- /.text-center -->
                </div> <!-- /.col -->
                <div class="col-md-3 col-xs-6">
                    <div class="text-center">
                        <h5>Satisfaction</h5>
                        <div class="number"><span class="timer" data-from="0" data-to="100" data-speed="1000" data-refresh-interval="5">0</span>%</div>
                    </div> <!-- /.text-center -->
                </div> <!-- /.col -->
                <div class="col-md-3 col-xs-6">
                    <div class="text-center">
                        <h5>Employees</h5>
                        <div class="number"><span class="timer" data-from="0" data-to="32" data-speed="1000" data-refresh-interval="5">0</span></div>
                    </div> <!-- /.text-center -->
                </div> <!-- /.col -->
                <div class="col-md-3 col-xs-6">
                    <div class="text-center">
                        <h5>Awards Winning</h5>
                        <div class="number"><span class="timer" data-from="0" data-to="234" data-speed="1000" data-refresh-interval="5">0</span></div>
                    </div> <!-- /.text-center -->
                </div> <!-- /.col -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.opacity -->
</div> <!-- /.theme-counter -->
