
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Floor.cshtml";
}

			<!--
			=============================================
				Theme inner Banner
			==============================================
			-->
			<div class="inner-banner">
				<div class="opacity">
					<div class="container">
						<h2>Contact</h2>
						<p>Flooring &amp; Tiles has been a presence on the international market since 1962 and is part of <br>the Gruppo Concorde, the largest ceramic group in Europe.</p>
						<div class="clearfix">
							<ul class="float-right">
								<li><a href="index.html" class="tran3s">Home</a></li>
								<li>.</li>
								<li><a href="#" class="tran3s">Page</a></li>
								<li>.</li>
								<li>Contact</li>
							</ul>
						</div>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.inner-banner -->

			<!--
			=============================================
				Request Quote Section
			==============================================
			-->
			<div class="request-quote-section">
				<div class="quote-banner">
					<div class="container">
						<h6 class="float-left">Need Flooring advice? Ask our experts for free. Glad to help you!</h6>
						<a href="#" class="theme-button p-bg-color hvr-float-shadow float-right">Request a Quote</a>
					</div>
				</div>
			</div> <!-- /.request-quote-section -->



			<!--
			=============================================
				Contact Form
			==============================================
			-->
			<div class="contact-form">
				<div class="container">
					<form action="http://themazine.com/html/right-flooring/inc/sendemail.php" class="form-validation" autocomplete="off">
						<div class="row">
							<div class="col-sm-6"><input type="text" placeholder="Name" name="name"></div>
							<div class="col-sm-6"><input type="email" placeholder="Email" name="email"></div>
						</div>
						<textarea placeholder="Message" name="message"></textarea>
						<button class="theme-button p-bg-color hvr-float-shadow">Submit Message</button>
					</form>

					<!--Contact Form Validation Markup -->
					<!-- Contact alert -->
					<div class="alert-wrapper" id="alert-success">
						<div id="success">
							<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
							<div class="wrapper">
				               	<p>Your message was sent successfully.</p>
				             </div>
				        </div>
				    </div> <!-- End of .alert-wrapper -->
				    <div class="alert-wrapper" id="alert-error">
				        <div id="error">
				           	<button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
				           	<div class="wrapper">
				               	<p>Sorry!Something Went Wrong.</p>
				            </div>
				        </div>
				    </div> <!-- End of .alert-wrapper -->
				</div> <!-- /.container -->
			</div> <!-- /.contact-form -->


			<!--
			=============================================
				Contact Address
			==============================================
			-->
			<div class="contact-address">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-branch">
								<h4>United State Office</h4>
								<ul>
									<li><i class="flaticon-mobile-phone"></i> Call free : +8801682648101</li>
									<li><i class="flaticon-mail"></i> E-mail : info@unifytheme.com</li>
									<li><i class="flaticon-location"></i> Address :  1010 Avenue of the Moon, Ohi 12 <br>New York, NY 10018 US.</li>
								</ul>
							</div> <!-- /.single-branch -->
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12">
							<div class="single-branch">
								<h4>New York Office</h4>
								<ul>
									<li><i class="flaticon-mobile-phone"></i> Call free : +8801682648101</li>
									<li><i class="flaticon-mail"></i> E-mail : info@unifytheme.com</li>
									<li><i class="flaticon-location"></i> Address :  1010 Avenue of the Moon, <br>New York, NY 10018 US.</li>
								</ul>
							</div> <!-- /.single-branch -->
						</div>
						<div class="col-md-4 col-xs-12">
							<div class="single-branch">
								<h4>Bangladesh Office</h4>
								<ul>
									<li><i class="flaticon-mobile-phone"></i> Call free : +8801682648101</li>
									<li><i class="flaticon-mail"></i> E-mail : info@unifytheme.com</li>
									<li><i class="flaticon-location"></i> Address :  1010 Avenue of the Moon, Gazipur, <br>Bangladesh 1230</li>
								</ul>
							</div> <!-- /.single-branch -->
						</div>
					</div> <!-- /.row -->

					<div class="row social-icon">
						<div class="col-sm-3 col-xs-6"><a href="#" class="tran3s hvr-float-shadow">Facebook</a></div>
						<div class="col-sm-3 col-xs-6"><a href="#" class="tran3s hvr-float-shadow">Google Plus</a></div>
						<div class="col-sm-3 col-xs-6"><a href="#" class="tran3s hvr-float-shadow">Twitter</a></div>
						<div class="col-sm-3 col-xs-6"><a href="#" class="tran3s hvr-float-shadow">Pinterest</a></div>
					</div>
				</div> <!-- /.container -->
			</div> <!-- /.contact-address -->

			<!-- Google Map _______________________ -->
			<div id="google-map-area">
				<div class="google-map" id="contact-google-map" data-map-lat="40.925372" data-map-lng="-74.276544" data-icon-path="~Public/images/logo/map.png" data-map-title="Find Map" data-map-zoom="12"></div>
			</div>
