
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Floor.cshtml";
}

<!--
=============================================
    Theme inner Banner
==============================================
-->
<div class="inner-banner">
    <div class="opacity">
        <div class="container">
            <h2>Services</h2>
            <p>Flooring &amp; Tiles has been a presence on the international market since 1962 and is part of <br>the Gruppo Concorde, the largest ceramic group in Europe.</p>
            <div class="clearfix">
                <ul class="float-right">
                    <li><a href="index.html" class="tran3s">Home</a></li>
                    <li>.</li>
                    <li><a href="#" class="tran3s">Page</a></li>
                    <li>.</li>
                    <li>Services</li>
                </ul>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.opacity -->
</div> <!-- /.inner-banner -->
<!--
=============================================
    Request Quote Section
==============================================
-->
<div class="request-quote-section">
    <div class="quote-banner">
        <div class="container">
            <h6 class="float-left">Need Flooring advice? Ask our experts for free. Glad to help you!</h6>
            <a href="#" class="theme-button p-bg-color hvr-float-shadow float-right">Request a Quote</a>
        </div>
    </div>
</div> <!-- /.request-quote-section -->
<!--
=============================================
    Our Service
==============================================
-->
<div class="our-service m-top0">
    <div class="container">
        <div class="row">
            <div class="clearfix">
                <div class="col-md-4 col-xs-6">
                    <div class="single-service">
                        <div class="image"><img src="~/Public/images/service/1.jpg" alt=""></div>
                        <div class="text style-one tran3s">
                            <h4><a href="service-details.html" class="tran3s">Carpet Installation</a></h4>
                            <p>Hundreds of colors and styles on sale now. Berber carpet, named for its originators, the North African nomadic tribe of the</p>
                        </div> <!-- /.text -->
                    </div> <!-- /.single-service -->
                </div> <!-- /.col-lg-4 -->
                <div class="col-md-4 col-xs-6">
                    <div class="single-service">
                        <div class="image"><img src="~/Public/images/service/2.jpg" alt=""></div>
                        <div class="text style-one tran3s">
                            <h4><a href="service-details.html" class="tran3s">Floor Installation</a></h4>
                            <p>Hundreds of colors and styles on sale now. Berber carpet, named for its originators, the North African nomadic tribe of the</p>
                        </div> <!-- /.text -->
                    </div> <!-- /.single-service -->
                </div> <!-- /.col-lg-4 -->
                <div class="col-md-4 col-xs-6">
                    <div class="single-service">
                        <div class="image"><img src="~/Public/images/service/3.jpg" alt=""></div>
                        <div class="text style-one tran3s">
                            <h4><a href="service-details.html" class="tran3s">Refinishing Floor</a></h4>
                            <p>Hundreds of colors and styles on sale now. Berber carpet, named for its originators, the North African nomadic tribe of the</p>
                        </div> <!-- /.text -->
                    </div> <!-- /.single-service -->
                </div> <!-- /.col-lg-4 -->
                <div class="col-md-4 col-xs-6">
                    <div class="single-service">
                        <div class="image"><img src="~/Public/images/service/4.jpg" alt=""></div>
                        <div class="text style-one tran3s">
                            <h4><a href="service-details.html" class="tran3s">Dustless Floor</a></h4>
                            <p>Hundreds of colors and styles on sale now. Berber carpet, named for its originators, the North African nomadic tribe of the</p>
                        </div> <!-- /.text -->
                    </div> <!-- /.single-service -->
                </div> <!-- /.col-lg-4 -->
                <div class="col-md-4 col-xs-6">
                    <div class="single-service">
                        <div class="image"><img src="~/Public/images/service/5.jpg" alt=""></div>
                        <div class="text style-one tran3s">
                            <h4><a href="service-details.html" class="tran3s">Floor Repair</a></h4>
                            <p>Hundreds of colors and styles on sale now. Berber carpet, named for its originators, the North African nomadic tribe of the</p>
                        </div> <!-- /.text -->
                    </div> <!-- /.single-service -->
                </div> <!-- /.col-lg-4 -->
                <div class="col-md-4 col-xs-6">
                    <div class="single-service">
                        <div class="image"><img src="~/Public/images/service/6.jpg" alt=""></div>
                        <div class="text style-one tran3s">
                            <h4><a href="service-details.html" class="tran3s">Interior Concrete Floors</a></h4>
                            <p>Hundreds of colors and styles on sale now. Berber carpet, named for its originators, the North African nomadic tribe of the</p>
                        </div> <!-- /.text -->
                    </div> <!-- /.single-service -->
                </div> <!-- /.col-lg-4 -->
                <div class="col-md-4 col-xs-6">
                    <div class="single-service">
                        <div class="image"><img src="~/Public/images/service/7.jpg" alt=""></div>
                        <div class="text style-one tran3s">
                            <h4><a href="service-details.html" class="tran3s">Wooden Staircase</a></h4>
                            <p>Hundreds of colors and styles on sale now. Berber carpet, named for its originators, the North African nomadic tribe of the</p>
                        </div> <!-- /.text -->
                    </div> <!-- /.single-service -->
                </div> <!-- /.col-lg-4 -->
                <div class="col-md-4 col-xs-6">
                    <div class="single-service">
                        <div class="image"><img src="~/Public/images/service/2.jpg" alt=""></div>
                        <div class="text style-one tran3s">
                            <h4><a href="service-details.html" class="tran3s">Woodfloor Installation</a></h4>
                            <p>Hundreds of colors and styles on sale now. Berber carpet, named for its originators, the North African nomadic tribe of the</p>
                        </div> <!-- /.text -->
                    </div> <!-- /.single-service -->
                </div> <!-- /.col-lg-4 -->
                <div class="col-md-4 col-xs-6">
                    <div class="single-service">
                        <div class="image"><img src="~/Public/images/service/8.jpg" alt=""></div>
                        <div class="text style-one tran3s">
                            <h4><a href="service-details.html" class="tran3s">Floor Staining</a></h4>
                            <p>Hundreds of colors and styles on sale now. Berber carpet, named for its originators, the North African nomadic tribe of the</p>
                        </div> <!-- /.text -->
                    </div> <!-- /.single-service -->
                </div> <!-- /.col-lg-4 -->
            </div> <!-- /.service-sldier -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.our-service -->

